{
    "all": true,
    "check-coverage": true,
    "include": [
      "src/**/*.js"
    ],
    "exclude": [
      "**/*.spec.js"
    ],
    "reporter": [
      "lcov",
      "text",
      "html"
    ],
    "require": [
      "@babel/register"
    ],
    "sourceMap": false,
    "cache": false
  }
